.container {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen,
    cantarell, helvetica neue, ubuntu, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  margin: auto;
  min-height: 1500px;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 1400px;
}
.row {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.column {
  display: block;
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 1.45rem;
  box-sizing: border-box;
}

.column img {
  box-sizing: border-box;
  margin-bottom: 1.45rem;
  width: 100%;
  height: auto;
}

.last-column {
  margin-right: 0rem;
}
