.hover-footer {
  display: none;
  position: absolute;
  bottom: 24px;
  width: 100%;
  justify-content: space-around;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  box-sizing: border-box;
  bottom: 2px;
  left: 0;
  padding-bottom: 1.15rem;
  text-decoration: none;
  color: #fff;
  white-space: nowrap;
}

.image-wrapper {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1.45rem;
}

.author {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, roboto, oxygen,
    cantarell, helvetica neue, ubuntu, sans-serif;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: content-box;
  max-width: calc(100% - 40px);
  margin-right: 40px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #e8e8e8;
}

.image-wrapper:hover {
  cursor: pointer;
}

.image-wrapper:hover .hover-footer {
  display: flex;
  transition: 1s;
}
