.hover-footer {
  display: none;
  position: absolute;
  bottom: 24px;
  width: 100%;
  justify-content: space-around;
}

.image-wrapper {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 1.45rem;
}

.author {
  color: white;
}

.image-wrapper:hover .hover-footer {
  display: flex;
  transition: 1s;
}